h1 {
    color: blue;
    font-style: italic;
    text-align:center ;
}

h2 {
    color: crimson;
    text-align: center;
}

body {
    background-color: skyblue;
}

h3 {
    text-align: center;
}

p {
    color: gray;
}